
.mydiv input,select{
    width: 300px;
    height: 3rem;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    color: black;
    border-radius: 10px;
    outline: none;
}

.mydiv{
    background-color: #f2f2f2;
    margin: 200px auto;
    text-align: center;
    max-width: 500px;
    border-radius: 10px;
    background-image: url('https://i.pinimg.com/1200x/73/02/72/730272546ca18f555c940e276c7bab8b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}


.mydiv form button{
    background-color: green;
    width: 90%;
    height: 3rem;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    margin: 1px ;
    margin-left: 29px;
}

.landing-navbar-div button{
    background-color: blue;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
}

.landing-navbar-div a{
    padding: 5px;
    margin: 3px;
}

.landing-navbar-div a.login:hover{
    background-color: yellow;
    border-radius: 5px;
}


